.pastItem {
	padding: 24px 16px;
	background: #FFE3BF;
	border-radius: 10px;
	box-sizing: border-box;
	height: 100%;

	@media (max-width: 480px) {
		padding: 16px 12px;
	}

	&__data {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		color: rgba(26, 16, 3, 0.5);

		@media (max-width: 480px) {
			font-size: 13px;
		}
	}

	&__role {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		margin-top: 10px;
		color: #000000;

		@media (max-width: 480px) {
			font-size: 16px;
			margin-top: 6px;
		}
	}

	&__location {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 500;
		color: #00000066;
		font-size: 16px;

		@media (max-width: 480px) {
			font-size: 14px;
		}
	}

	&__bottom {
		gap: 8px;
		margin-top: 10px;
		display: flex;
		align-items: center;

		@media (max-width: 480px) {
			margin-top: 6px;
		}
	}
}