.contactPageHeaderItem {
	padding: 50px 25px;
	background: #FFEED9;
	border-radius: 20px;
	display: flex;
	gap: 12px;

	@media (max-width: 1280px) {
		padding: 30px 20px;
	}

	@media (max-width: 768px) {
		padding: 30px 20px;
	}

	@media (max-width: 480px) {
		padding: 20px 16px;
		border-radius: 16px;
	}

	img {
		height: fit-content;

		@media (max-width: 480px) {
			width: 28px;
		}
	}

	h6 {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		color: #000000;

		@media (max-width: 480px) {
			font-size: 20px;
		}
	}

	p {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		color: rgba(0, 0, 0, 0.85);
		margin-top: 16px;
		word-break: break-all;

		@media (max-width: 480px) {
			font-size: 13px;
			margin-top: 10px;
		}
	}
}