.skilsItem {
	padding: 0px 16px;
	background: #E1E8EF;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	width: fit-content;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	color: #000000;

	@media (max-width: 480px) {
		padding: 0px 12px;
		height: 28px;
		font-size: 11px;
	}
}