.portfolioItem {
	padding: 8px;
	background: #FFE3BF;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	transition: all 0.3s;

	&:hover{
		transform: scale(1.05);
	}

	img {
		height: 220px;
		border-radius: 15px;
		width: 100%;
		object-fit: cover;

		@media (max-width: 480px) {
			height: 180px;
		}
	}

	&__type {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		margin-top: 8px;
		margin-left: 5px;

		@media (max-width: 480px) {
			font-size: 20px;
		}
	}

	&__name {
		display: flex;
		flex-wrap: wrap;
		gap: 12px;
		margin-top: 16px;

		@media (max-width: 480px) {
			gap: 8px;
			margin-top: 12px;
		}

		span {
			padding: 0px 16px;
			background: #FFF;
			border-radius: 8px;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 22px;
			width: fit-content;
			font-family: "Raleway";
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			color: #000000;
		}
	}
}