.headerLink {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80px;
	height: 80px;
	border-radius: 20px;
	background: #E1E8EF;
	text-decoration: none;

	@media (max-width: 768px) {
		width: 64px;
		height: 64px;
		border-radius: 16px;
	}

	@media (max-width: 480px) {
		width: 52px;
		height: 52px;
		border-radius: 12px;
	}

	&.active {
		background: linear-gradient(91.49deg, #FF9C1A 7.92%, #E80505 108.2%);

		img {
			filter: brightness(0) invert(1);
		}

		p {
			color: #ffffff;
		}
	}

	img {
		width: 24px;
		height: 24px;

		@media (max-width: 480px) {
			width: 20px;
			height: 20px;
		}
	}

	p {
		margin-top: 8px;
		color: #000;
		font-size: 12px;
		font-weight: 600;

		@media (max-width: 768px) {
			font-size: 11px;
			margin-top: 6px;
		}

		@media (max-width: 480px) {
			font-size: 10px;
			margin-top: 4px;
		}
	}
}