.resume {

	&__past {
		display: flex;
		gap: 60px;
		flex-wrap: wrap;
		margin-top: 16px;

		@media (max-width: 768px) {
			gap: 32px;
		}

		@media (max-width: 480px) {
			gap: 24px;
		}

		&__block {
			flex: 1 1 calc(50% - 60px);

			@media (max-width: 768px) {
				flex: 1 1 100%;
			}

			&__header {
				display: flex;
				align-items: center;
				margin-bottom: 8px;

				&__title {
					font-family: 'Poppins';
					font-style: normal;
					font-weight: 500;
					font-size: 28px;
					line-height: 46px;
					letter-spacing: 0.025em;
					color: #000000;
					margin-left: 8px;

					@media (max-width: 480px) {
						font-size: 22px;
						line-height: 36px;
					}
				}

				img {
					height: 20px;
				}
			}

			&__main {
				display: flex;
				flex-direction: column;

				div:not(:first-child) {
					margin-top: 18px;
				}
			}
		}
	}

	&__skils {
		display: flex;
		gap: 60px;
		flex-wrap: wrap;
		margin-top: 36px;

		@media (max-width: 768px) {
			gap: 32px;
			margin-top: 24px;
		}

		@media (max-width: 480px) {
			gap: 24px;
			margin-top: 20px;
		}

		&__block {
			flex: 1 1 calc(50% - 60px);

			@media (max-width: 768px) {
				flex: 1 1 100%;
			}

			&__title {
				font-family: 'Poppins';
				font-style: normal;
				font-weight: 500;
				font-size: 28px;
				line-height: 46px;
				letter-spacing: 0.025em;
				color: #000000;

				@media (max-width: 480px) {
					font-size: 22px;
					line-height: 36px;
				}
			}

			&__main {
				margin-top: 8px;
				display: flex;
				flex-wrap: wrap;
				gap: 12px 20px;

				@media (max-width: 480px) {
					gap: 8px 12px;
				}
			}
		}
	}
}