.contact {
	padding: 36px;
	background-color: #EBEEF2;
	border-radius: 25px;
	width: 100%;
	margin-top: 28px;
	box-sizing: border-box;

	@media (max-width: 768px) {
		padding: 24px;
		margin-top: 20px;
		border-radius: 20px;
	}

	@media (max-width: 480px) {
		padding: 16px;
		margin-top: 16px;
		border-radius: 16px;
	}
}