.app-header {
	padding: 10px 30px;
	filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
	background: #F2F7FC;
	width: fit-content;
	border-radius: 20px;
	margin-left: auto;
	margin-bottom: 16px;

	@media (max-width: 768px) {
		width: 100%;
		border-radius: 16px;
		padding: 10px 20px;
		margin-left: 0;
		box-sizing: border-box;
	}

	@media (max-width: 480px) {
		padding: 8px 12px;
	}

	&__nav {
		display: flex;
		gap: 40px;

		@media (max-width: 768px) {
			justify-content: space-between;
			gap: 0;
		}

		@media (max-width: 480px) {
			gap: 0;
		}
	}
}