.contactPage {

	&__header {
		display: flex;
		gap: 16px;
		margin-top: 24px;

		@media (max-width: 768px) {
			flex-direction: column;
			gap: 16px;
		}

		& > div {
			width: calc(50% - 16px);

			@media (max-width: 768px) {
				width: 100%;
			}
		}
	}
}